$prm-ff: "Roboto", sans-serif;
$max-width-text: 65ch;
$spacing-half: 5vh;
$spacing-full: 10vh;
$clr-prm: black;
$clr-sec: white;
$font-sm: 1.6rem;
$font-m: 2rem;
$font-mm: 2.4rem;
$font-l: 3.2rem;
$font-xl: 8.5rem;
