$prm-ff: "Roboto", sans-serif;
$max-width-text: 65ch;
$spacing-half: 10vh;
$spacing-full: 20vh;
$clr-prm: #2f9e44;
$clr-sec: #ebfbee;


$clr-prm-soft: #37b24d;
$clr-grey: #343a40;

$font-sm: 1.6rem;
$font-m: 2rem;
$font-mm: 2.4rem;
$font-l: 3.0rem;
$font-xl: 8.6rem;

$line-headline: 1.3;
$line-medium: 1.6;
$line-long: 2.2;
